<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag 'recipes', media: 'all' %>

<div class="recipe-container">
 <div class="new-recipe">
 <%= link_to "New recipe", new_recipe_path %>
 </div>
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>