* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: aliceblue;
}

.navbar {
  background-color: #e3f2fd;
}

div.alert.alert-success, .alert-success { background-color: #6f00ff; }
